services:
  api:
    build: .
    container_name: fastapi_app
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    # depends_on:
    #   - redis
     

  redis:
    image: redis:7
    container_name: redis_db

 